<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gadgetlemage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gadgetlemage.Properties.Settings>
            <setting name="HotkeyCreate" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Consume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Gadgetlemage.Properties.Settings>
    </userSettings>
</configuration>